.bg-white{
    background-color: white;
}
.navbar{
    background-color: white;
}

.navbar-header{
    color: white;
    background-color: teal;
}

.navbar-brand a{
    color: white;
}

.navbar li {
    display: inline-block;
}
.navbar li a{
    color: black;
    padding: 10px;
}

body{
    background-color: lightgray;
}

#main-image{
    float: left;
    padding: 10px;
    background-color: white;
}

p{
    background-color: white;
    line-height: 200%;
}

.Lattitude{
    color: teal;
    background-color: white;
    font-size: 40px;
    padding: 40px;
     
}

#Visualizations{
    color: teal;
    background-color: white;
    font-size: 26px;
    padding: 30px;
}

#temp-image{
    float: left;
    height: 250px;
    width: 50%;
}

.image-small{
    height: 200px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#image-select{
    height: 200px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    border: solid;
    border-width: 5px;
    border-color: teal;
}

.image-comp{
    height: 320px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    box-align: center;
    background-color: white;
    }

.comp-header{
    background-color: white;
    text-align: center;
    color: teal;
    font-size: 26px;
}

#comp-section{
    background-color: white;
}

#section-viz{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.visualizaton-text{
    background-color: white;
    text-align: center;
    padding: 10%;
}

#click-p{
    background-color: white;
    padding: 40px;
}

#figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
    }