.bg-white{
    background-color: white;
}
/* all pages */
.navbar{
    background-color: white;
}
/* all pages */
.navbar-header{
    /* color: white; */
    background-color: teal;
}

/* all pages */
.navbar-brand a{
    color: white;
}

/* all pages */
.navbar-header a{
    color: white;
}

/* all pages */
.navbar li {
    display: inline-block;
}

/* all pages */
.navbar li a{
    color: black;
    padding: 10px;
}

/* all pages */
body{
    background-color: lightgray;
}

/* all pages */
.Lattitude{
    color: teal;
    background-color: white;
    font-size: 40px;
    padding: 40px;
     
}

/* index and visualization */
#main-image{
    float: left;
    padding: 10px;
    background-color: white;
}
/* index */
#temp-image{
    float: left;
    height: 250px;
    width: 50%;
}

/* all pages */
p{
    background-color: white;
    line-height: 200%;
}

/*index and visualizations - aside*/
#Visualizations{
    color: teal;
    background-color: white;
    font-size: 26px;
    padding: 30px;
}

/* index and visualizations - aside images */
.image-small{
    height: 200px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/*selected images for visualization pages  */
#image-select{
    height: 200px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    border: solid;
    border-width: 5px;
    border-color: teal;
}

/* images on comparisons page */
.image-comp{
    height: 320px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    box-align: center;
    background-color: white;
    }

/* headers on comparison page */
.comp-header{
    background-color: white;
    text-align: center;
    color: teal;
    font-size: 26px;
}

/* sections on comparisons page */
#comp-section{
    background-color: white;
}

/* section on visualization aside */
#section-viz{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* text on visualization aside*/
.visualizaton-text{
    background-color: white;
    text-align: center;
    padding: 10%;
}

/* paragraph text on comparisons page */
#click-p{
    background-color: white;
    padding: 40px;
}

/* sections on visualizations page */
#figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

/* .viz-image{
    float: left;
    padding: 10px;
    background-color: white;
} */